---
import '../styles/global.css';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>TurMaipo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bg-[#282828] text-[#ebdbb2] m-0 p-0 h-screen w-screen flex items-center justify-center">
    <div class="flex flex-col gap-4 items-center">
      <h1 class="text-2xl font-bold">TurMaipo</h1>
      <a href="/dashboard/mapa" class="bg-[#3c3836] px-4 py-2 rounded-xl text-white hover:bg-[#504945]">
        Buscar Bus Cercano
      </a>
    </div>
  </body>
</html>