---
const { children } = Astro.props;
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TurMaipo</title>
  </head>
  <body class="bg-gruvbox-dark-bg text-gruvbox-dark-fg w-screen h-screen">
    <main class="w-full h-full">
      {children}
    </main>
  </body>
</html>
