---
const { children } = Astro.props;
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TurMaipo</title>
  </head>
  <body class="bg-[#282828] text-[#ebdbb2]">
    <main class="min-h-screen p-4 rounded-2xl">
      {children}
    </main>
  </body>
</html>
